/*definimos la distribución de filas, columnas, nombre de las áreas */
.basic {
    display: grid;
    box-sizing: border-box;
	  grid-template-rows: 4rem minmax(calc(100vh - 4rem - 200px), max-content) 100px;
	  grid-template-columns:  1fr 4fr;
	  grid-template-areas:
        "header header header header"
        "main  main  main .    "
        "footer footer footer footer";
       /* padding: 0 10px;*/
}
.basic .header{
	grid-area: header;
	display: flex;
}

.basic .main {
    grid-area: main;
	display: flex;
	
	
}

.basic  .footer {
    grid-area: footer;
    background: #e6e6ec;;
	text-align: center;
    color: #131314;
   
}


 .basic .main .web {
	text-align: center;
 }


/*general definimos los estilos*/



*{
	margin: 0;
	box-sizing: border-box;
}

body {
		
		font-family:Poppins,  sans-serif;
		padding: 10px 10px 0;
		
		
	}
	





@media (min-width: 768px) and (max-width: 1199px){

body {
		
		
		padding-top: 60px 10px 0;
		
		
	}


.basic .container .h2 {
	margin-top: 2rem;
}

.main .container-fluid .contact_form  {
	/*width: 100%;*/
	
	 padding: 20px;
     background: #67cdcb;
	 border: solid 2px #dddddd;
	 border-collapse: collapse;
	 border-spacing: 10px;
	 display: flex;
	 justify-content: center;
	 /* flex-direction: row;*/
	 align-items: center;
	 flex-wrap: wrap;
	 line-height: 30px;
	 
	 
}


.basic .footer {
	grid-area: footer;
   display: flex;
	background: #b7b7bd;;
	text-align: center;
	position: static;
	bottom: 0;
	color: #131314;
   
}

.basic .footer div{
	margin: 0 auto;
	padding-top: 10px;
}
 

}

@media (max-width: 768px){

	body {
			
		padding-top: 40px 10px 0;
			
			
		}

	.header{
		
		height: 60px;
	}
	
	
		
	.basic {
		padding: 5px;
	}

	
    .basic .footer {
        grid-area: footer;
        background: #b7b7bd;;
        text-align: center;
        position: static;
        bottom: 0;
        color: #131314;
       
    }
 
    .basic .footer div{
        margin: 0 auto;
        padding-top: 10px;
    }

    .main .container-fluid .contact_form  {
        /*width: 100%;*/
        
        
         background: #67cdcb;
         
         
         
    }

	.main .container-fluid .contact_form div .enviar {
 
		flex-direction: row;
		
	   
	
	}

	
}


/*definimos los estilos desktop*/
@media (min-width: 1200px) {

	.basic {
        display: grid;
		grid-template-rows: 4rem minmax(calc(100vh - 4rem - 200px), max-content) 100px;
        grid-template-columns:  1fr 4fr minmax(10%, 1fr);
        grid-template-areas:
		"header header header header"
        "main main  main .    "
        "footer footer footer footer";
    }
	

	/*.basic .container .h2 {
		margin-top: 2rem;
	}*/
	
	
	
    .basic .footer {
        grid-area: footer;
       display: flex;
        background: #b7b7bd;;
        text-align: center;
        position: static;
        bottom: 0;
        color: #131314;
       
    }

    .basic .footer div{
        margin: 0 auto;
        padding-top: 10px;
    }

/*CONTACTO*/

.main .container-fluid .contact_form  {
	/*width: 100%;*/
	
	 padding: 20px;
     background: #67cdcb;
	 border: solid 2px #dddddd;
	 border-collapse: collapse;
	 border-spacing: 10px;
	 display: flex;
	 justify-content: center;
	 /* flex-direction: row;*/
	 align-items: center;
	 flex-wrap: wrap;
	 line-height: 30px;
	 
	 
}

.main .container-fluid .contact_form div input {
font-size: 16px;

}
.main .container-fluid .contact_form div .enviar {

 flex-direction: row;
 /*flex-wrap: wrap;*/
padding: 10px;


}

.main .container-fluid .contact_form div .enviar input {
  background-color: #bab9c1;
 
   margin-left: 10px;

  
}
	  


}

/*PAGINA DE EDICION-seccion cards*/
  
  .cards {
	  min-height: calc(100vh - 60px);
	  background: rgb(12, 167, 167);
	  display: flex;
	  justify-content: space-around;
	  flex-wrap: wrap;
	  padding: 10px;
	  box-sizing: border-box;
  }
  
  .cards .card {
	  background: white;
	  max-width: 20%;
	  min-width: 150px;
	  padding: 10px;
	  margin: 1%;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
  }
  
  .cards .card .card-body img {
	  width: 99%;
	  height: 35vh;
	  /*hack imagen no deformada*/
	  object-fit: cover;
  }
  
  .cards .card .card-body h3 {
	  color: rgb(15, 16, 16);
	text-align: center;
  }
  
  .cards .card .card-body p {
	  text-align: left;
	  /*font-family: "Hind", serif;*/
  }
  
  .cards .card .card-action {
	  display: flex;
	  justify-content: flex-end;
  }
  
  .cards .card .card-action button {
	  background: none;
	  text-transform: uppercase;
	  padding: 5px 10px;
	  border: none;
	  color: darkorange;
	  font-weight: bold;
	  border-radius: 3px;
	  cursor: pointer;
  }
  
  .cards .card .card-action button a{
	  
	  color: darkorange;
	  text-decoration: none;
	  
  }
   
  
  .cards .card .card-action button:hover {
	  background: rgba(255, 140, 0, 0.05);
  }



 /*CONTACTO*/

 .main .container-fluid .contact_form  {
           
	padding: 20px;
	 /*border: solid 2px #dddddd;*/
	 border-collapse: collapse;
	 border-spacing: 10px;
	 justify-content: center;
	/* flex-direction: row;*/
	 align-items: center;
	 flex-wrap: wrap;
	 line-height: 30px;
	 
	 
}
.main .container-fluid .contact_form div {
   padding: 10px;
   background: rgb(230, 233, 233);
   border-radius: 5px;
  border-spacing: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.main .container-fluid .contact_form div input {
font-size: 16px;

}
.main .container-fluid .contact_form div .enviar {

 flex-direction: column;
 /*flex-wrap: wrap;*/
  padding: 10px;
  
}

.main .container-fluid .contact_form div .enviar input {
  background-color: #bab9c1;
  margin-top: 10px;
  
  
}

/*PAGINA JUEGOS*/
.educaplay {
    
    color: rgb(42, 17, 207);
    
  }
  .kahoot {
    
    color: rgb(42, 17, 207);
    
  }
  /*PRUEBA FLEX*/
  .juegosdos  {
    /*width: 100%;*/
    border: solid 2px #dddddd;
      border-radius: 5px;
       border-spacing: 10px;
    display:flex;
    background-color: antiquewhite;
    padding:4px;
    /*box-sizing: border-box;*/
    /*justify-content: center;
    align-items: center;*/
    /*flex-wrap: wrap;*/

  }
  .juegosdos .edit {
      /*border: solid 2px #dddddd;
      border-radius: 5px;*/
       border-spacing: 10px;
       /*background: rgb(30, 217, 227);*/
    display:flex;
    padding:4px;
    box-sizing: border-box;
    max-width: 25%;
    flex-direction: row;
    align-items: center;
    
  }

   .editdos { 
      border-spacing: 10px;
     display:flex;
    padding-left: 10px;
    flex-direction: column;
    
  }
  .edit img {
    width: 100%;
}
/*------------------------------*/
/*PAGINA DE RECURSOS*/

.container  .portada {
    height: 100%;
    width: 100%;
    display: flex;
    background-image: url(../img/ruedas.jpg);
    background-size: cover;
    position: relative;
    

  }
 .container .portada .texto-inicial {
    background: rgb(216, 211, 56);
    width: 40vw;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: calc(50% - 20vw);

  }
  .container .portada .texto-inicial * {
    text-align: center;
    margin: 0;
  }