/*Prueba de mixin*/
@mixin cuadrado{
    background-color: rgb(172, 127, 255);
    margin-top: 5px;
    width:auto;
    height: auto;
    p{
        text-align: center,
    }
    

}
.cuadrado-1{
   @include cuadrado;

}

/*----------------------*/
@mixin mix ($fondo){
    background-color: $fondo;
    margin-top: 0;
}
.mix-1{
    @include mix (#4cb04c);
}
.mix-2{
    @include mix(#f1edb9)
}