

@mixin desktop {
    @media(min-width:#{$desktop}) {
        @content;
    }
}

@mixin banner($imgBanner) {
    height: 100vh;
    background: url($imgBanner) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}