    
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Roboto:wght@300&display=swap" );

    /*-----Estilos titulos boostrap----*/

.h1{
    text-align: center;
  }
  .h2{
    text-align: center;
  }
  .h4{
    text-align: center;
  }
  .h6{
    text-align: center;
  }
  .text-bg-primary{
    text-align: center;
  }
  .shadow-lg{
    text-align: center;
  }
  
  .web {
      text-align: center;
   }

  .estilo-x{
    font-size: calc(1em + 1vw);
    line-height: 1em;
    padding: 1em;
    margin: 1em;
  }