/*mapa de colores*/

$colors:(primary:#1d38e3,primary-light:lighten(#1d38e3,40%),primary-dark:darken(#1d38e3,10%),text-dark:darken(#1d38e3,40%),text-light:lighten(#1d38e3,60%));

//medidas varias
$padding: 15px;
$radius: 15px;

//sombreado
$shadow:0 10px 10px rgba(22, 227, 221, 0.4);


