/*mapa de colores*/

$colors:(primary:#4a4e69,primary-light:lighten(#4a4e69,40%),primary-dark:darken(#4a4e69,10%),text-dark:darken(#4a4e69,40%),text-light:lighten(#4a4e69,60%));

//medidas varias
$padding: 15px;
$radius: 15px;

//sombreado
$shadow:0 10px 10px rgba(145, 127, 225, 0.4);


