/*PAGINA DE EDICION-seccion cards*/
  
.cards {
    min-height: calc(100vh - 60px);
   /* background: rgb(12, 167, 167);*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    box-sizing: border-box;
    .card {
        background: white;
        max-width: 20%;
        min-width: 150px;
        padding: 10px;
        margin: 1%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .card-body{
            img{
                width: 99%;
                height: 35vh;
                /*hack imagen no deformada*/
                object-fit: cover;
            }
                h3 {
                    color: rgb(15, 16, 16);
                    text-align: center;   

            }
            p {
                text-align: left;
                
            }
        }
        .card-action {
            display: flex;
            justify-content: flex-end;
            button {
                background: none;
                text-transform: uppercase;
                padding: 5px 10px;
                border: none;
                color: darkorange;
                font-weight: bold;
                border-radius: 3px;
                cursor: pointer;
                a{
    
                    color: darkorange;
                    text-decoration: none;
                 }
                 :hover {
                    background: rgba(255, 140, 0, 0.05);
                }
            }
        }

        .back-card{
            position: absolute;
            top: 0;
            left: 0;
            width:400px;
            height: 500px;
            transition: transform .4s ease-in;
            background: linear-gradient(270deg, rgb(255, 25, 195) 0%, rgb(0, 220, 255) 16%, rgb(122, 255, 0) 82%, rgb(0, 254, 207) 100%);
            z-index: -1;
            box-shadow: 0px 0px 112px -41px rgb(255, 25, 195), 0 -10px 26px -5px rgb(0, 220, 255),0px 0px 112px -41px rgb(122, 255, 0) , 0 -10px 26px -5px rgb(0, 254, 207);
        }
        .thid-card{
            position: absolute;
            top: 0;
            left: 0;
            width:400px;
            height: 500px;
            transition: transform .4s ease-in;
            background: linear-gradient(270deg, rgb(255, 25, 195) 0%, rgb(0, 220, 255) 16%, rgb(122, 255, 0) 82%, rgb(0, 254, 207) 100%);
            z-index: -1;
            box-shadow: 0px 0px 112px -41px rgb(255, 25, 195), 0 -10px 26px -5px rgb(0, 220, 255),0px 0px 112px -41px rgb(122, 255, 0) , 0 -10px 26px -5px rgb(0, 254, 207);
        }
        
        .card:hover .back-card{
            transform: rotate(5deg);
        }
        .card:hover .thid-card{
            transform: rotate(-5deg);
        }

    }
}





