
@import 'variables';
@import 'mixins';

 .prueba {
    
        background-color: map-get($estilos, color);
        text-align: map-get($estilos, centro);
        padding: map-get($estilos, 1rem);
        font-size:map-get($estilos, tFuente);
    
  
}



.card2 {
    grid-area: card;
    background-color: map-get($colors,primary);
    margin: 1em auto;
    padding: $padding;
    border-radius: $radius;
    box-shadow: $shadow;
    width: 80%;


    @include desktop {
        align-self: flex-end;
        margin: 1em;
    }

    ul {
        list-style-type: none;

        li {
            margin-bottom: 10px;

            .circulo {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: map-get($colors,primary-dark);
                border-radius: 50%;
                margin-right: 10px;
            }

            strong {
                display: inline-block;
                margin-left: max(40px);
            }
        }
    }
}

