.main{
    .container{
        .row{
            min-height: calc(100vh - 60px);
            .col{
                .card{
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    padding: 10px;
                    box-sizing: border-box;

                }
                

            }
            

        }
    }
}